.image{
    
    width: 700px;
    height: 600px;
}
.homeimage{
    
    width:  1400px;
    height: 600px;
    
}
.tab{
 width: 70cap;
 ;
}
.carousel{
    
    width:  1400px;
    height: 600px;
    
}